<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Token de acesso</title>
</head>

<body>

    <h1>Gerar Token de acesso</h1>

    <h3>Dados de login</h3>

    <form id="login">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>

        <br><br>


        <button type="button" onclick="generateToken()">Gerar</button>
    </form>

    <div id="result">    </div>


    <script>

        async function generateToken() {
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            const data = {
                username: username,
                password: password,
            };

            try {
                const response = await fetch("/token/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-Requested-With": "XMLHttpRequest",
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    const tokenData = await response.json();
                    const resultDiv = document.getElementById("result");

                    localStorage.setItem("accessToken", tokenData.access);

                    accessToken = tokenData.access


                    resultDiv.innerHTML = `
                <p>Access Token: </p>
                <textarea id="result" rows="5" cols="60">${tokenData.access}</textarea>
                <p>Mensagem: Token gerado com sucesso</p>
                <a href="/api/insert_article/" target="_blank">Inserir Artigo</a>
                <br>
                <a href="/api/list_articles/" target="_blank">Artigos criados</a>
                `;

                    // window.location.href = '/api/insert_article/';


                } else {
                    console.error("Erro ao enviar os dados:", response.status);
                }
            } catch (error) {
                console.error("Erro de conexão:", error);
            }
        }


    </script>

</body>

</html>